<p-toast></p-toast>

<section class="glass-form-section">
  <h1 class="glass-form-title">Login</h1>
  <form [formGroup]="loginForm" class="glass-form" (ngSubmit)="sumbit()">
    <!-- Email -->
    <div class="field">
      <label for="email">Email:</label>
      <input
        type="text"
        placeholder="Type Your Email"
        id="email"
        formControlName="email"
        class="glass-input"
      />
      <div class="validtions">
        @if(email.errors?.['required'] && email.touched){
        <p class="error-msg">This field Is Required</p>
        } @if(email.errors?.['email'] &&email.touched){
        <p class="error-msg">Enter Vaild Email</p>
        }
      </div>
    </div>
    <!-- Password -->
    <div class="field">
      <label for="password">Password:</label>
      <input
        type="text"
        placeholder="Type Your Password"
        id="password"
        class="glass-input"
        formControlName="password"
      />
      <div class="validtions">
        @if(password.errors?.['required'] && password.touched){
        <p class="error-msg">This field Is Required</p>
        }
      </div>
    </div>
    <!-- Button -->
    <button (click)="sumbit()" class="glass-btn">Login</button>
  </form>
</section>
<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.9)"
  size="medium"
  color="#2563eb"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  >
  <p style="color: white">Getting things ready...</p></ngx-spinner
>
