<div class="cate">
  <div class="texture"></div>
  <div class="title" data-aos="fade-down">
    <h2>What You Need?</h2>
    <p>Find your vibe — shop by type.</p>
  </div>
  <div class="cate-boxes">
    <div class="box" data-aos="fade-right" data-aos-duration="1000">
      <img src="assets/imgs/cap.jpg" alt="" />
      <h1>Caps</h1>
      <p>
        This cap speaks dreams, hustle, confidence — stitched into every moment.
      </p>
    </div>
    <div
      class="box"
      data-aos="fade-up"
      data-aos-duration="1000"
      data-aos-delay="200"
    >
      <img src="assets/imgs/beforcolor.jpg" alt="" />
      <h1>t-shirts</h1>
      <p>
        Every shirt tells stories of bold style, comfort, and everyday
        confidence.
      </p>
    </div>
    <div class="box" data-aos="fade-up">
      <img src="assets/imgs/pants.jpg" alt="" />
      <h1>Pants</h1>
      <p>Pants built for motion, style, strength — wear it, own it.</p>
    </div>
  </div>
</div>
